body { font-family: sans-serif; }

header a { color: white; }

a { text-decoration: none; }

nav a { border-bottom: 2px solid transparent; }

nav a:hover {
  border-bottom: 2px solid white;
  transition: 300ms;
}

h1 svg { width: 150px; }

.hamburger-list {
  border-radius: 5px;
  top: 2rem;
  right: .5rem;
  background: rgba(0, 0, 0, .75);
  z-index: 5000;
}

.layout > main,
.splash > div > div  { min-height: calc(100vh - 4rem); }

.splash > div > div { padding-bottom: 0 !important; }

.gallery-item {
  width: 100%;
}

@media all and (min-width: 450px) {
  .gallery-item { width: calc(50% - .5rem); }
}

@media all and (min-width: 575px) {
  .hamburger-list { 
    background: none; 
    display: none; 
  }
}
    
@media all and (min-width: 750px) {
  .hamburger-menu { display: none; }

  .hamburger-list { display: flex; }
}

@media all and (min-width: 1000px) {
  .gallery-item { width: calc(33% - 1rem); }
}
